#charts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  max-width: 100%;

  transition: all 0.5s ease;
  opacity: 0;
  height: 0;
  padding: 0 2rem;
  overflow: hidden;

  &.visible {
    opacity: 1;
    height: auto;
  }

  & #doughnut-chart {
    max-width: 500px;
    max-height: 500px;
    display: block;
    aspect-ratio: 1 / 1; /* garante proporção quadrada, evita distorção */
  }

  & #line-chart {
    max-width: 80%;
    min-width: 375px; /* ou 800px se quiser mais espaço */
    max-height: 800px;
    /* height: auto !important; 
    
    display: block;
    max-width: 700px; */
  }
}

#ranking-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  transition: all 0.5s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;

  &.visible {
    opacity: 1;
    height: auto;
  }

  & #bar-chart {
    width: 100% !important;
    max-width: 700px;
    height: auto !important;
    aspect-ratio: 4 / 3; /* ou 4/3, 1/1, etc */
    margin: 0 auto;
    display: block;
  }
}
