$font-primary: "JetBrains Mono", monospace;
$color-text: white;
$color-bg-glass: rgba(255, 255, 255, 0.061);
$color-bg-glass-strong: rgba(255, 255, 255, 0.2);
$color-primary-gradient: linear-gradient(135deg, #e37777, #fb6eef);
$color-shadow-btn: rgba(0, 0, 0, 0.3);
